@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
@import url('navbar.css');
@import url('search-header.css');
@import url('products.css');
@import url('item-page.css');
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}